.h1-found{
    text-align: center;
    margin: 40px;
    font-weight: bold;
}   

.image-notfound{    
       text-align: center;
        margin: 40px; 
     } 

.image-1{
    height: 300px;
} 
    
@media only screen and (max-width: 768px) {
  .image_1{
    
  
  }
}